<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/tools_layout::content(~{::#headdiv}, ~{::#content})}" >

<div id="headdiv">
    <title>Admin</title>
</div>
<div id="content">

    <form id="addUDRLinkForm" th:action="@{/admin/addUDRLink}" method="post">
        <div>
            <label for="user">User:</label>
            <select name="user" id="user">
                <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.name}"></option>
            </select>
        </div>
        <div>
            <label for="role">Role:</label>
            <select name="role" id="role" onchange="updateDatabaseVisibility()">
                <option th:each="role : ${roleList}" th:value="${role.id}" th:text="${role.name}"></option>
            </select>
        </div>
        <div id="databaseUDRLinkDiv" th:remove="tag">
            <label style="display: none" name="database" for="database">Database:</label>
            <select style="display: none" name="database" id="database">
                <option th:each="database : ${databaseList}" th:value="${database.id}" th:text="${database.name}"></option>
            </select>
        </div>

        <script>
            function updateDatabaseVisibility() {
                let selectedRole = document.getElementById("role").value;
                let databaseDiv = document.getElementsByName("database");

                if (selectedRole === '1') { // TODO: Replace with appropriate value for ADMIN
                    databaseDiv.forEach((element) => {
                        element.style.display = "none";
                    });
                    console.log("none " + selectedRole);
                } else {
                    console.log("block " + selectedRole);
                    databaseDiv.forEach((element) => {
                        element.style.display = "block";
                    });
                }
            }

            window.onload = function () {
                updateDatabaseVisibility();
            };
        </script>
        <br>
        <button type="submit">Add UDRLink</button>
        <br><br>
    </form>
    <table id="UDRLinkTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Database</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody th:replace="admin/UDRLinkTable"></tbody>
    </table>
    <script>

        $(document).ready(function () {
            $("#addUDRLinkForm").submit(function (event) {
                event.preventDefault();

                let formData = $(this).serialize();

                $.ajax({
                    type: "POST",
                    url: "/admin/addUDRLink",
                    data: formData,
                    success: function (data) {
                        $("#UDRLinkTable tbody").html(data);
                        console.log("UDRLink added successfully");
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        if (xhr.status === 400) {
                            alert(xhr.responseText);
                        } else {
                            console.error("Error adding UDRLink:", textStatus, errorThrown);
                        }
                    },
                });
            });
        });

    </script>

    <br><span> Users:</span>
    <form id="addUserForm" th:action="@{/admin/addUser}" method="post">
        <label>
            <input type="text" name="username" placeholder="Username" required />
        </label>
        <label>
            <input type="password" name="password" placeholder="Password" required />
        </label>
        <label>
            <input type="checkbox" name="active" />
        </label> Active
        <button type="submit">Add User</button>
    </form>
    <table id="userTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Password</th>
            <th>Current database</th>
            <th>Active</th>
            <th>First Login</th>
            <th>Last Login</th>
            <th>Modify Date</th>
        </tr>
        </thead>
        <tbody th:replace="admin/userTable"></tbody>
    </table>
    <script type="text/javascript" th:src="@{/error/confirm.js}"></script>
    <script>
        $(document).ready(function () {
            $("#addUserForm").submit(function (event) {
                event.preventDefault();

                let formData = $(this).serialize();

                $.ajax({
                    type: "POST",
                    url: "/admin/addUser",
                    data: formData,
                    success: function (data) {
                        $("#userTable tbody").html(data);
                        console.log("User added successfully");
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        if (xhr.status === 400) {
                            alert(xhr.responseText);
                        } else {
                            console.error("Error adding user:", textStatus, errorThrown);
                        }
                    },
                });
            });
        });
    </script>
    <br><span> Database:</span>
    <form id="addDatabaseForm" th:action="@{/admin/addDatabase}" method="post">
        <label>
            <input type="text" name="databaseName" placeholder="Database name" required />
        </label>
        <button id="addDatabaseButton" >Add</button>
    </form>
    <br>
        <table id="databaseTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody th:replace="admin/databaseTable"></tbody>
        </table>
    <script>

        $(document).ready(function () {
            $("#addDatabaseForm").submit(function (event) {
                event.preventDefault();

                let formData = $(this).serialize();

                $.ajax({
                    type: "POST",
                    url: "/admin/addDatabase",
                    data: formData,
                    success: function (data) {
                        $("#databaseTable tbody").html(data);
                        console.log("Database added successfully");
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        if (xhr.status === 400) {
                            alert(xhr.responseText);
                        } else {
                            console.error("Error adding database:", textStatus, errorThrown);
                        }
                    },
                });
            });
        });

    </script>


    <br><span> Role:</span>
    <div th:replace="admin/roleTable"></div>

</div>
</html>