  <tr th:each="UDRLink : ${UDRLinkList}">
      <td th:text="${UDRLink.id}"></td>
      <td th:text="${UDRLink.user.name}"></td>
      <td th:text="${UDRLink.database.name}"></td>
      <td th:text="${UDRLink.role.name}"></td>
      <td>
        <form th:if="${UDRLink.role.name != 'ADMIN'}" class="deleteUDRLinkForm" th:action="@{/admin/deleteUDRLink}" method="post">
          <input type="hidden" name="udrLinkId" th:value="${UDRLink.id}" />
          <button type="submit">X</button>
        </form>
      </td>
    </tr>

<script>
  $(document).ready(function () {
    $(document).on("submit", ".deleteUDRLinkForm", function (event) {
      event.preventDefault();

      var form = $(this);
      var formData = form.serialize();

      $.ajax({
        type: "POST",
        url: form.attr("action"),
        data: formData,
        success: function (response) {
          form.closest("tr").remove();
          console.log(response);
        },
        error: function (xhr, textStatus, errorThrown) {
          console.error("Error deleting udrLInk:", textStatus, errorThrown);
        },
      });
    });
  });
</script>