<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<form id="findItemForm" th:action="@{/find}" th:object="${item}" method="post">

  <input type="hidden" id="open" name="open" th:value="${item.open ? 'true' : 'false'}">

  <label class="paramLabel" for="name">Name:</label>
  <input type="text" id="name" name="name" th:value="${item.name}">

  <label class="paramLabel" for="name2">Name 2:</label>
  <input type="text" id="name2" name="name2" th:value="${item.name2}">

  <label class="paramLabel" for="author">Author:</label>
  <input type="text" id="author" name="author" th:value="${item.author}">

  <label class="paramLabel" for="typ">Type:</label>
  <select id="typ" name="typ">
    <option></option>
    <option value="ROOT" th:selected="${item.typ == T(cz.gymtrebon.zaverecky.vjanecek.atlas.entity.enums.Typ).ROOT}">ROOT</option>
    <option value="GROUP" th:selected="${item.typ == T(cz.gymtrebon.zaverecky.vjanecek.atlas.entity.enums.Typ).GROUP}">GROUP</option>
    <option value="REPRESENTATIVE" th:selected="${item.typ == T(cz.gymtrebon.zaverecky.vjanecek.atlas.entity.enums.Typ).REPRESENTATIVE}">REPRESENTATIVE</option>
  </select>

  <div name ="parentGroupToggle">
    <label class="paramLabel" for="parentGroup">Parent Group:</label>
    <input type="text" id="parentGroup" name="parentGroup" th:value="${item.parentGroup}">
  </div>

  <label class="paramLabel" name ="color_multi_select">Colors:</label>
  <div class="multi_select_box">
    <select class="multi_select" multiple>
      <option th:each="color : ${colorList}" th:value="${color.name}" th:text="${color.name}"></option>
    </select>
  </div>
  <br>

  <button type="submit">Find</button>
</form>

<tbody>

<div class="table-container">
  <table id="foundTable">
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Name 2</th>
        <th>Author</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody th:replace="layouts/foundItemTable"></tbody>
  </table>
</div>


<script> <!--TODO tohle se asi nemusí posílat pořáad, ale zatím nechat kvůli přehlednosti -->

  $(document).ready(function () {
    $('.multi_select').selectpicker();

    $('.flexdatalist').flexdatalist({
      selectionRequired: 1,
      searchDisabled: 1,
      minLength: 1,
      allowFreeEntries: false
    });

    $("#findItemForm").submit(function (event) {
      event.preventDefault();

      var formData = $(this).serialize();

      $.ajax({
        type: "POST",
        url: "/find",
        data: formData,
        success: function (data) {
          $("#foundTable tbody").html(data);
          console.log("Found Items updated successfully");
        },
        error: function (xhr, textStatus, errorThrown) {
          console.error("Error update Items:", textStatus, errorThrown);
        },
      });
    });
  });
  function toggleParentGroupVisibility() {
    var typSelect = document.getElementById('typ');
    var parentGroupInput = document.getElementById('parentGroupDiv');

    if (typSelect.value === 'ROOT') {
      parentGroupInput.style.display = 'none';
    } else {
      parentGroupInput.style.display = 'block';
    }
  }
  document.getElementById('typ').addEventListener('change', toggleParentGroupVisibility);
</script>


