<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/tools_layout::content(~{::#headdiv}, ~{::#content})}" >

<div id="headdiv">
    <title>Requests</title>
</div>
    <div id="content">
        <style>
            th,td{
                padding-left: 5px;
                padding-right: 5px;
            }
            td{
                font-family: "Times New Roman", Times, serif;
                font-size: 16px;
                letter-spacing: 2px;
                word-spacing: 0px;
                color: #000000;
                font-weight: normal;
                text-decoration: rgb(68, 68, 68);
                font-style: normal;
                font-variant: normal;
                text-transform: none;
            }
            .date{
                font-size: 11px;
            }
        </style>
        <br><span>Request:</span>
        <div class="row">
            <div class="col-md-5 order-md-1">
                <table class="table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <!--<th>Request Mark</th>
                        <th>Parent Request Mark</th>
                        <th>Link</th>
                        <th>Local Visibility</th>-->
                        <th>Request Type</th>
                        <th>Request Status</th>
                        <th>Name</th>
                        <!--<th>Request Message</th>-->
                        <th>Create Date</th>
                        <th>Modify Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="request : ${requestList}" class="selectable-row">
                        <form id="selectRequest" th:action="@{/editor/selectRequest}" method="post">
                            <td th:text="${request.id}"></td>
                            <input type="hidden" name="requestMark" th:value="${request.requestMark}" />
                            <!--<td th:text="${request.requestMark}"></td>
                            <td th:text="${request.parentRequestMark}"></td>
                            <td th:text="${request.link}"></td>
                            <td th:text="${request.local_visibility}"></td>-->
                            <td th:text="${request.request_typ}"></td>
                            <td th:text="${request.request_status}"></td>
                            <td th:text="${request.name}"></td>
                            <!--<td th:text="${request.request_message}"></td>-->
                            <td class="date" th:text="${#dates.format(request.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td class="date" th:text="${#dates.format(request.modifyDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        </form>
                    </tr>
                    </tbody>
                </table>
                <script>
                    $(document).ready(function () {
                        $(".selectable-row").on("click", function (event) {
                            event.preventDefault();

                            var requestMark = $(this).find("input[name='requestMark']").val();
                            console.log("COZE "+ requestMark);
                            $.ajax({
                                type: "POST",
                                url: "/editor/selectRequest",
                                data: {
                                    requestMark: requestMark
                                },
                                success: function (data) {
                                    $("#selectedRequestDiv").html(data);
                                    //console.log("Data" + data);
                                },
                                error: function (xhr, textStatus, errorThrown) {
                                    console.error("Error select request:", textStatus, errorThrown);
                                },
                            });
                        });
                    });
                </script>
            </div>
            <div class="col-md-7 order-md-2">
                <div id="selectedRequestDiv"></div>
                <div th:replace="editor/selectedRequest"></div>
            </div>
        </div>
    </div>
</html>