
  <div th:if="${selectedRequest != null}" class="card-body">
    <div style="background-color: #cccccc">
      <div style="width:100%;background-color: #809ea9" class="d-flex justify-content-center">
        <img class="icon" src="/png/image.png" alt="">
        <p class="card-text text-white p-2"><span th:text="${selectedRequest.requestMark}"></span></p>
      </div>
      <div class="d-flex justify-content-center">
        <h5  style="padding: 2px" class="card-title" th:text="${selectedRequest.name}"></h5>
      </div>
      <p class="card-text">Request Status: <span th:text="${selectedRequest.request_status}"></span></p>
      <p class="card-text">Request Message: <span th:text="${selectedRequest.request_message}"></span></p>
      <p class="card-text">Create Date: <span th:text="${#dates.format(selectedRequest.createDate, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
      <p class="card-text">Modify Date: <span  th:text="${#dates.format(selectedRequest.modifyDate, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
    </div>
  </div>

