body {
    margin: 2em auto;
    max-width: 80%;
	background-color: #d5e6e8;
	line-height: 1.2;
}

input  {
	background-color: lightblue;
}
select{
	background-color: lightblue;
	border: 0;
	outline: 1px solid #CCC;
}
h2{
font-family: "Times New Roman", Times, serif;
font-size: 19px;
word-spacing: 0;
color: #000000;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
}

.link-button {
	background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	text-decoration: none;
	font-weight: normal;
}

p{
	font-family: "Times New Roman", Times,serif;
}

.centerDiv{
	margin: auto;
	width: 50%;
	padding: 10px;
}
a{
	color: darkslategrey;
}
.fieldset-auto-width {
	display: inline-block;
}

.breadcrumb{
	background-color: #809ea9;
	margin: 0;
	padding: 10px;
	width: 100%;
	border-radius: 0;
}
.errorMsg{
	color: red;
	font-weight: bold;
	font-size: 17px;
	margin-bottom:10px;
	margin-top:10px;
}
.successMsg{
	color: forestgreen;
	font-weight: bold;
	font-size: 17px;
	margin-bottom:10px;
	margin-top:10px;
}
.loginDiv{
	margin: auto;

}
.table-container {
	font-size: 12pt;
	max-height: 500px; /* before sroll is shown */
	overflow-y: auto;
}
.jmeaObrazku{
	font-family: "Times New Roman", Times, serif;
	color: #000000;
	font-style: normal;
	font-variant: normal;
}
.smazatImage{
	font-family: "Times New Roman", Times, serif;
	color: rgb(255, 0, 0);
	font-variant: normal;
}
.main-content {
	padding: 20px;
	background-color: #9ea0a2;
}
.sidebar {
	background-color: #a3e5ee;
	padding-top: 30px;
	padding-left: 35px;
	padding-right: 40px;
	font-size: 20px;
	margin-left:20px;
}
.upbar{
	padding: 0;
}
img.icon{
	width: 25px;
	height: 25px;
}
table, th{
	border: 1px solid;
	text-align: center;
}
td{
	border: 1px solid;
	text-align: center;
}
.customl_abel{
	margin-right: 10px;
	margin-bottom: 0;
	margin-top: 10px;
}

.db_list{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.smallText{
	font-size: 14px;
}
.link-button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}
.invalid-feedback{
	display: inline-block;
}
.firstbreadcrumb{
	text-transform: uppercase;
}
.find{
	padding: 10px;
	display: inline-flex;
	background-color: #458085;
}
.no_padding{
	padding: 0;
}
.findDiv{
	padding: 10px;
	margin-bottom: 25px;
	background-color: #458085;
}