<!DOCTYPE html>
<html lang="en" th:replace="~{errors/error_layout::layout( ~{::#custom_head} , ~{::#error_title}, ~{::#error_text} , ~{::#err_image})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div id="custom_head">
        <meta charset="UTF-8">
        <title>Error403</title>
    </div>
</head>
<body>
    <div id="error_title">
            Error 403
    </div>
    <div id="error_text">
        You have no access to this.
    </div>
    <div id="err_image">
        <img src="/error/403.jpg" alt="Image error">
    </div>
</body>
</html>