<!doctype html>
<html lang="en" th:replace="~{layouts/layout_base::content( _ , ~{::#all})}"
      xmlns:th="http://www.thymeleaf.org">

<div id="all">
    <main>
        <div class=" align-items-center justify-content-center">
            <div> Log in</div>
            <form th:action="@{/login-page/login}" th:object="${user}" method="post">

                    <div class="form-row">
                        <input type="text" class="form-control" id="inputName" placeholder="Name"
                               name="username" th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? is-invalid">
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></p>
                    </div>
                    <div class="form-row">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                               th:field="*{password}" th:classappend="${#fields.hasErrors('password')} ? is-invalid">
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></p>
                    </div>
                <br>
                <button type="submit" class="btn btn-primary" name="akce-register">Register</button>
                <button type="submit" class="btn btn-primary" name="akce-login">Log in</button>

            </form>
        </div>
    </main>
</div>

</html>