<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title tiles:fragment="title">Registration</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="centerDiv">
  <form name="f" th:action="@{/registration}" th:object="${registrationForm}" method="post">
    <fieldset class="fieldset-auto-width centerDiv" style="width: 100%">
      <legend sec:authorize="isAuthenticated()"  style="text-align: center"> You are logged [[${#authentication.getPrincipal().getUsername()}]] </legend>
      <legend sec:authorize="!isAuthenticated()" style="text-align: center">Please login</legend>
      <br>
      <div class="loginDiv">
        <p>Username</p>
        <label for="username">
          <input id="username" name="username" type="text"/>
        </label>
        <div th:if="${#fields.hasErrors('username')}" class="alert alert-error errorMsg">
          <p th:errors="*{username}"></p>
        </div>
        <p >Password </p>
        <label for="password">
          <input type="password" id="password" name="password"/>
        </label>
        <div th:if="${#fields.hasErrors('password')}" class="alert alert-error errorMsg">
          <p th:errors="*{password}"></p>
        </div>
        <p>Password again</p>
        <label for="password">
          <input type="password" id="password2" name="password2"/>
        </label>
        <div th:if="${#fields.hasErrors('password2')}" class="alert alert-error errorMsg">
          <p th:errors="*{password2}"></p>
        </div>
        <div th:if="${passwordMismatch}" class="alert alert-error errorMsg">
          Passwords do not match.
        </div>
      </div>
      <div th:if="${registrationError}" class="alert alert-error errorMsg">
        Registration error - try later or contact admin
      </div>
      <br/>
      <div class="form-actions">
        <button type="submit" class="btn">Register</button>
      </div>
      <div>
        <a class="btn" th:href="@{/login}">Already have account? Login</a>
      </div>
    </fieldset>
  </form>
</div>
</body>
</html>