<!doctype html>
<html lang="cs" th:replace="~{layouts/layout_info::layout( _ , ~{::#info} , ~{::#main} , ~{::#buttons}, ~{::#breadcrumb} )}"
	xmlns:th="http://www.thymeleaf.org">
<div id="breadcrumb">
	<span th:each="breadcrumb : ${skupina.cesta}">
		> <a th:href="'/skupina/'+${breadcrumb.id}"><b th:text="${breadcrumb.nazev}"></b></a>
	</span>
	<th:if="${not#lists.isEmpty(skupina.cesta)}" hr>
</div>

<div id="info">
	<h1 th:text="${skupina.nazev}"></h1>
	<p th:utext="${skupina.textSkupiny}"></p>
</div>

<div id="buttons">
	<a th:href="@{'/skupina/nova?idNadrizeneSkupiny='+${skupina.id}}">Přidat skupinu</a>
	|
	<a th:href="@{'/zastupce/novy?idNadrizeneSkupiny='+${skupina.id}}">Přidat zástupce</a>
	|
	<a th:unless="${home == true}" th:href="@{'/skupina/'+${skupina.id}+'/editovat'}">Editovat</a>
</div>

<div id="main">
	<h2>Podskupiny</h2>

	<ul>
		<li th:each="podskupina : ${podskupiny}"><a th:href="'/skupina/'+${podskupina.id}"
				th:text="${podskupina.nazev}"></a></li>
	</ul>

	<h2>Zástupci</h2>

	<ul>
		<li th:each="zastupce : ${zastupci}"><a th:href="'/zastupce/'+${zastupce.id}" th:text="${zastupce.nazev}"></a>
		</li>
	</ul>
</div>
</html>