<!doctype html>
<html lang="en" th:replace="~{layouts/layout_form::layout(_ , ~{::#info} , ~{::#main} , _ , _ )}"
	xmlns:th="http://www.thymeleaf.org">

<div id="info">
	<h1 th:if="${nova == true}">New group</h1>
	<h1 th:if="${nova == false}">Group editor</h1>
	<hr>
</div>

<div id="main">
	<form th:action="@{/skupina/ulozit}" th:object="${skupina}" method="post">

		<input type="hidden" id="inputId" th:field="*{id}">

		<div class="form-row">

			<div class="form-group col-md-6">
				<label for="idNadrizeneSkupiny">Nadřazená skupina</label>
				<select id="idNadrizeneSkupiny" class="form-control" th:field="*{idNadrizeneSkupiny}"
					th:classappend="${#fields.hasErrors('idNadrizeneSkupiny')} ? is-invalid">
					<option value=""></option>
					<option th:each="s : ${nadrizeneSkupiny}" th:value="${s.id}" th:text="${s.nazev}"
						th:selected="${s.id==skupina.idNadrizeneSkupiny}"></option>
				</select>
				<p th:if="${#fields.hasErrors('idNadrizeneSkupiny')}" th:errors="*{idNadrizeneSkupiny}"
					class="invalid-feedback"></p>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="inputNazev">Název</label>
				<input type="text" class="form-control" id="inputNazev" placeholder="Název skupiny" th:field="*{nazev}"
					th:classappend="${#fields.hasErrors('nazev')} ? is-invalid">
				<p th:if="${#fields.hasErrors('nazev')}" th:errors="*{nazev}" class="invalid-feedback"></p>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="inputTextSkupiny">Text</label>
				<textarea id="celyText" class="form-control" name="celyText" th:text="${skupina.textSkupiny}"
					th:field="*{textSkupiny}">
				</textarea>
			</div>
		</div>

		<button th:if="${nova == false && skupina.idNadrizeneSkupiny != NULL}" type="submit" class="btn btn-danger"
			name="akce-smazat">Smazat</button>

		<button type="submit" class="btn btn-primary" name="akce-ulozit">Uložit</button>

		<button type="submit" class="btn btn-secondary" name="akce-zpet">Zpět</button>

	</form>
</div>

</html>