<!doctype html>
<html lang="cs" th:replace="~{layouts/layout_info::layout( _ , ~{::#info} , ~{::#main} , ~{::#buttons}, ~{::#breadcrumb} )}"
	xmlns:th="http://www.thymeleaf.org">
<div id="breadcrumb">
	<span th:each="breadcrumb : ${skupina.cesta}">
		> <a th:href="'/skupina/'+${breadcrumb.id}"><b th:text="${breadcrumb.nazev}"></b></a>
	</span>
</div>

<div id="info">
	<h1 th:text="${skupina.nazev}"></h1>
	<p th:utext="${skupina.textSkupiny}"></p>
</div>

<div th:if="${#authorization.expression('hasAuthority(''EDITOR'')')}" id="buttons">
	<a  th:href="@{'/skupina/nova?idNadrizeneSkupiny='+${skupina.id}}">Add group</a>
	|
	<a th:href="@{'/zastupce/novy?idNadrizeneSkupiny='+${skupina.id}}">Add representant</a>
	|
	<a th:unless="${home == true}" th:href="@{'/skupina/'+${skupina.id}+'/editovat'}">Edit</a>
</div >

<div id="main">
	<h2 th:if="${not #lists.isEmpty(podskupiny)}" th:text="${#lists.size(podskupiny) == 1} ? 'Subgroup' : 'Subgroups'"></h2>

	<ul>
		<li th:each="podskupina : ${podskupiny}"><a th:href="'/skupina/'+${podskupina.id}"
				th:text="${podskupina.nazev}"></a></li>
	</ul>

	<h2 th:if="${not #lists.isEmpty(zastupci)}" th:text="${#lists.size(zastupci) == 1} ? 'Representant' : 'Representants'"></h2>

	<ul>
		<li th:each="zastupce : ${zastupci}"><a th:href="'/zastupce/'+${zastupce.id}" th:text="${zastupce.nazev}"></a>
		</li>
	</ul>
</div>
</html>