<!doctype html>
<html lang="en" th:replace="~{layouts/layout_base::content( _ , ~{::#all})}" xmlns:th="http://www.thymeleaf.org">


<div id="headdiv">
	<div></div>
</div>

<div id="all">
	<main>
		<form action="/submit" method="post">
		<p>Hello, <br>
		You have no database yet.<br><br>
		On this instance are these public databases:<br>
			<ul style="list-style-type: none;">
				<li th:each="database2 : ${publicDBList}">
					<label>
						<input type="checkbox" th:name="selectedItems" th:value="${database2.id}">
						<span th:text="${database2.name}"></span>
					</label>
				</li>
			</ul>if you want
			</p>
			<button type="submit">Save changes and sent requests</button>
		</form>
		<!-- <div th:replace="${info}"></div>
		<h2 th:if="${not #lists.isEmpty(subgroups)}" th:text="${#lists.size(subgroups) == 1} ? 'Subgroup' : 'Subgroups'"></h2>

		<ul>
			<li th:each="subgroup : ${subgroups}"><a th:href="'/group/'+${subgroup.id}"
													 th:text="${subgroup.name}"></a></li>
		</ul>

		<h2 th:if="${not #lists.isEmpty(representatives)}" th:text="${#lists.size(representatives) == 1} ? 'Representative ' : 'Representatives'"></h2>

		<ul>
			<li th:each="representative : ${representatives}"><a th:href="'/representative/'+${representative.id}" th:text="${representative.name}"></a>
			</li>
		</ul>
		<div th:if="${#authorization.expression('hasAnyAuthority(''EDITOR'', ''ADMIN'')')}" id="buttons">
			<a  th:href="@{'/group/newItem?idParentGroup='+${group.id}}">Add group</a>
			|
			<a th:href="@{'/representative/newItem?idParentGroup='+${group.id}}">Add representative</a>
			|
			<a th:unless="${group.isRoot() == true}" th:href="@{'/group/'+${group.id}+'/edit'}">Edit</a>
			<a th:if="${group.isRoot() == true}" th:href="@{'/group/root/edit'}">Edit</a>
		</div > -->
	</main>
</div>


</html>