<!doctype html>
<html lang="cs" th:replace="~{layouts/layout_form::layout(_, ~{::#info} , ~{::#main} , _ ,  _ )}"
	xmlns:th="http://www.thymeleaf.org">

<div id="info">
	<h1 th:if="${nova == true}">New flower</h1>
	<h1 th:if="${nova == false}">Flower editor</h1>
	<hr>
</div>

<div id="main">
	<div class="row">
		<div class="form-group col-md-6">
			<form th:action="@{/zastupce/ulozit}" th:object="${zastupce}" method="post">

				<input type="hidden" id="inputId" th:field="*{id}">

				<div class="form-row">
					<label for="idNadrizeneSkupiny">Parent group</label>
					<select id="idNadrizeneSkupiny" class="form-control" th:field="*{idNadrizeneSkupiny}"
						th:classappend="${#fields.hasErrors('idNadrizeneSkupiny')} ? is-invalid">
						<option value=""></option>
						<option th:each="s : ${nadrizeneSkupiny}" th:value="${s.id}" th:text="${s.nazev}"
							th:selected="${s.id==zastupce.idNadrizeneSkupiny}"></option>
					</select>
					<p th:if="${#fields.hasErrors('idNadrizeneSkupiny')}" th:errors="*{idNadrizeneSkupiny}"
						class="invalid-feedback"></p>
				</div>

				<div class="form-row">
					<label for="inputNazev">Name</label>
					<input type="text" class="form-control" id="inputNazev" placeholder="Název zástupce"
						th:field="*{nazev}" th:classappend="${#fields.hasErrors('nazev')} ? is-invalid">
					<p th:if="${#fields.hasErrors('nazev')}" th:errors="*{nazev}" class="invalid-feedback"></p>
				</div>
				<div class="form-row">
					<label for="inputNazev2">Other names</label>
					<input type="text" class="form-control" id="inputNazev2" placeholder="Další název"
						th:field="*{nazev2}" th:classappend="${#fields.hasErrors('nazev2')} ? is-invalid">
					<p th:if="${#fields.hasErrors('nazev2')}" th:errors="*{nazev2}" class="invalid-feedback"></p>
				</div>
				<div class="form-row">
					<label for="inputAutor">Author</label>
					<input type="text" class="form-control" id="inputAutor" placeholder="Autor" th:field="*{autor}"
						th:classappend="${#fields.hasErrors('autor')} ? is-invalid">
					<p th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}" class="invalid-feedback"></p>
				</div>
				<div class="form-row">
					<label for="inputBarvy">Colors</label>
					<input type="text" class="form-control" id="inputBarvy" placeholder="Barva" th:field="*{barvy}"
						th:classappend="${#fields.hasErrors('barvy')} ? is-invalid">
					<p th:if="${#fields.hasErrors('barvy')}" th:errors="*{barvy}" class="invalid-feedback"></p>
				</div>
				<label for="inputText">Text</label>
				<div class="form-row">
					<div class="form-group col-md">
						<textarea id="celyText" class="form-control" name="celyText" th:text="${zastupce.text}"
							th:field="*{text}">
						</textarea>
						<p th:if="${#fields.hasErrors('text')}" th:errors="*{text}" class="invalid-feedback"></p>
					</div>
				</div>
				<hr>
				<!-- https://getbootstrap.com/docs/4.0/components/buttons/ -->

				<button th:if="${novy == false}" type="submit" class="btn btn-danger" name="akce-smazat">Delete</button>
				<button type="submit" class="btn btn-primary" name="akce-ulozit">Save</button>
				<button type="submit" class="btn btn-secondary" name="akce-zpet">Back</button>
			</form>
		</div>
</div>

</html>