<!doctype html>
<html lang="cs" th:replace="~{layouts/layout_info::layout( _ ,~{::#info} , _ , ~{::#buttons}, ~{::#breadcrumb} )}"
	xmlns:th="http://www.thymeleaf.org">

<div id="info">
	<div class="row">
		<div class="form-group col-md-6">
			<i>
				<h1 th:text="${zastupce.nazev}"></h1>
			</i>

			<p th:text="${zastupce.nazev2}"></p>
			<p th:text="${zastupce.autor}"></p>
			<p th:text="${zastupce.barvy}"></p>
			<p th:utext="${zastupce.text}"></p>

		</div>
		<hr>
		<div class="form-group col-md-6">
			<h2 th:if="${zastupce.fotky != null}">Image list</h2>
			<h2 th:if="${zastupce.fotky == null}">Image list is Empty</h2>
			<!-- https://stackoverflow.com/questions/39509689/combining-conditions-and-iterations-in-thymeleaf/39515137#39515137  -->
			<div th:if="${zastupce.fotky != null}">
				<th:block
					th:with="partitions=${T(org.apache.commons.collections4.ListUtils).partition(zastupce.fotky, 2)}">
					<div class="row" th:each="partition: ${partitions}">
						<div class="col-sm-4" th:each="fotka: ${partition}">
							<div class="fotka">
								<a class="jmeaObrazku" th:href="${fotka.url}"><b th:text="${fotka.nazev}"></b></a>
								<a th:if="${#authorization.expression('hasAuthority(''EDITOR'')')}" class="smazat" th:href="@{'/zastupce/'+${zastupce.id}+'/delete/'+${fotka.id}}">
								<b th:if="${#authorization.expression('hasAuthority(''EDITOR'')')}" th:text="smazat"></b></a>
								<br>
								<img class="img-fluid" th:src="${fotka.url}">
							</div>
						</div>
					</div>
				</th:block>
			</div>
			<form
					th:if="${#authorization.expression('hasAuthority(''EDITOR'')')}"
				th:action="${novy == true} ? @{'/zastupce/obrazekNoId/upload'} : @{'/zastupce/'+${zastupce.id}+'/upload'} "
				method="post" enctype="multipart/form-data">
				<table>
					<tr>
						<td><label path="file">Choose image:</label></td>
					</tr>
					<tr>
						<td><input type="file" name="file" /></td>
					</tr>
					<tr>
						<td><input type="submit" value="Nahrát" /></td>
					</tr>
				</table>
			</form>
			<br>
		</div>
	</div>
</div>
<hr>
</div>
<div th:if="${#authorization.expression('hasAuthority(''EDITOR'')')}" id="buttons">
	<a class="btn btn-primary" th:href="@{'/zastupce/'+${zastupce.id}+'/editovat'}">Edit</a>
</div>

<div id="breadcrumb">
	<span th:each="breadcrumb : ${zastupce.cesta}">
		> <a th:href="'/skupina/'+${breadcrumb.id}"><b th:text="${breadcrumb.nazev}"></b></a>
	</span>
	<hr th:if="${not#lists.isEmpty(zastupce.cesta)}" hr>
</div>


</html>