<!doctype html>
<html lang="cs" th:replace="~{layouts/layout_info::layout( _ ,~{::#info} , _ , ~{::#buttons}, ~{::#breadcrumb} )}"
	xmlns:th="http://www.thymeleaf.org">

<div id="info">
	<i>
		<h1 th:text="${zastupce.nazev}"></h1>
	</i>

	<p th:text="${zastupce.nazev2}"></p>
	<p th:text="${zastupce.autor}"></p>
	<p th:text="${zastupce.barvy}"></p>
	<p th:utext="${zastupce.text}"></p>

	<hr>
	<h2>Seznam obrázků</h2>
  <div th:each="fotka : ${zastupce.fotky}">
    <a th:href="${fotka.url}"><b th:text="${fotka.nazev}"></b></a>
    <br>
    <img th:src="${fotka.url}">
  </div>
	 
	<hr>
	
<form th:action="@{'/zastupce/'+${zastupce.id}+'/upload'}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td><label path="file">Vyberte soubor k ulozeni</label></td>
            <td><input type="file" name="file" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Nahrát" /></td>
        </tr>
    </table>
</form>   
	
	
</div>
<div id="buttons">
	<a th:href="@{'/zastupce/'+${zastupce.id}+'/editovat'}">Editovat</a>
</div>

<div id="breadcrumb">
	<span th:each="breadcrumb : ${zastupce.cesta}">
		> <a th:href="'/skupina/'+${breadcrumb.id}"><b th:text="${breadcrumb.nazev}"></b></a>
	</span>
	<th:if="${not#lists.isEmpty(zastupce.cesta)}" hr>
</div>


</html>